<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zts.robot.mapper.WriteMemberMapper" >
	<select id="findTmidByMidDid" resultType="String">
		select tmid from tm_member where did=#{2} and didtype=#{1} and mid=#{0}
	</select>
	
	<select id="findMemberMapByDidMid" resultType="HashMap">
  		SELECT * FROM tm_member a WHERE a.mid=#{0} AND a.didtype=#{1} AND a.did=#{2}
  	</select>
  	
 <!--  	<select id="findMemberListTotalSize" resultType="Integer">
 		SELECT 
		COUNT(*)
		FROM tm_member a 
		WHERE a.delflg='00' 
		AND a.mid=#{mid} 
		<if test="roleflg =='03'.toString" > 
		AND a.signuid=#{signuid} 
		</if> 
 	</select> -->
 	
 <!-- 	<select id="findMatchListByPage" resultType="HashMap">
 		SELECT 
		a.tmid,a.roleflg,a.tmcode,a.tmname,a.sex 
		,a.didtype,a.did,a.mid,a.birthday,a.picurl 
		,a.email,a.phone,a.departname,a.school,a.ckstatus 
		FROM tm_member a 
		WHERE a.delflg='00' and a.tmstatus='00'
		AND a.mid=#{mid} 
		<if test="roleflg =='03'.toString" > 
		AND a.signuid=#{signuid} 
		</if> 
		LIMIT #{beginNo},#{endNo} 
 	</select> -->
 	<select id="findAllMemberListByPageTotalSize" resultType="Integer">
 	SELECT COUNT( DISTINCT a.tmid) FROM tm_member a 
LEFT JOIN re_raceteammember b ON a.tmid=b.tmid
LEFT JOIN ma_match c ON c.mid=b.mid
LEFT JOIN tm_team d on d.tid = b.tid
    WHERE a.delflg='00' AND  c.mstatus='00' and a.delflg='00' and a.tmstatus='00' AND d.tstatus='00'
and  b.mid=#{mid}
	<if test="signuid != null and signuid !=''.toString()" > 
		AND d.signuid=#{signuid} 
	</if>
	 <if test="email != null and email !=''.toString()">
			 AND a.email LIKE '%${email}%'
	</if>  
	<if test="phone != null and phone !=''.toString()">
			AND a.phone LIKE '%${phone}%'
	</if> 
	 <if test="name != null and name !=''.toString()">
			AND a.tmname LIKE '%${name}%'
	</if>  
	<if test="sex != null and sex !=''.toString()">
			AND a.sex =#{sex}
	</if>  
	<if test="birthday != null and birthday !=''.toString()">
			AND a.birthday LIKE  '%${birthday}%'
	</if>  
	<if test="didtype != null and didtype !=''.toString()">
			AND a.didtype=#{didtype}
	</if> 
	 <if test="did != null and did !=''.toString()">
			AND a.did LIKE '%${did}%'
	</if>
	 <if test="school != null and school !=''.toString()">
			 AND a.school LIKE '%${school}%'
	</if>
	 <if test="departname != null and departname !=''.toString()">
			AND a.departname LIKE '%${departname}%'
	</if>
	 <if test="roleflg != null and roleflg !=''.toString()">
			and a.roleflg=#{roleflg}
	</if> 
 	</select>
 	
 	<select id="findAllMemberListByPage" resultType="HashMap">
 	SELECT DISTINCT a.*,c.mname FROM tm_member a 
	LEFT JOIN re_raceteammember b ON a.tmid=b.tmid
	LEFT JOIN ma_match c ON c.mid=b.mid
	LEFT JOIN tm_team d on d.tid = b.tid
    WHERE a.delflg='00' AND  c.mstatus='00' and a.delflg='00' and a.tmstatus='00' AND d.tstatus='00'
and  b.mid=#{mid}
    <if test="signuid != null and signuid !=''.toString()" > 
		AND d.signuid=#{signuid} 
	</if>
     <if test="email != null and email !=''.toString()">
			 AND a.email LIKE '%${email}%'
	</if>  
	<if test="phone != null and phone !=''.toString()">
			AND a.phone LIKE '%${phone}%'
	</if> 
	 <if test="name != null and name !=''.toString()">
			AND a.tmname LIKE '%${name}%'
	</if>  
	<if test="sex != null and sex !=''.toString()">
			AND a.sex =#{sex}
	</if>  
	<if test="birthday != null and birthday !=''.toString()">
			AND a.birthday LIKE  '%${birthday}%'
	</if>  
	<if test="didtype != null and didtype !=''.toString()">
			AND a.didtype=#{didtype}
	</if> 
	 <if test="did != null and did !=''.toString()">
			AND a.did LIKE '%${did}%'
	</if>
	 <if test="school != null and school !=''.toString()">
			 AND a.school LIKE '%${school}%'
	</if>
	 <if test="departname != null and departname !=''.toString()">
			AND a.departname LIKE '%${departname}%'
	</if>
	 <if test="roleflg != null and roleflg !=''.toString()">
			and a.roleflg=#{roleflg}
	</if> 
	 ORDER BY d.region,d.school,a.roleflg,b.serialnum,b.tid,a.tmid,b.rid
     <if test="beginNo != null and endNo != null">
			limit #{beginNo}, #{endNo}
	</if> 
 	</select>
 	<update id="updatetmstatus">
 	UPDATE tm_member a SET a.tmstatus='01' WHERE a.mid=#{0}
 	</update>

 	<update id="updateshutdownmember">
 	UPDATE tm_member a SET a.tmstatus='01',a.delflg='01' WHERE a.tmid =#{0}
 	</update>
 	<select id="findUniversitystatisticsMemberByMid" resultType="HashMap">
 	
SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '普通高等院校'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','普通高等院校'AS'组织机构' FROM tm_team a
WHERE a.orgtype='普通高等院校' AND a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','普通高等院校'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='普通高等院校'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'普通高等院校'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='普通高等院校'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','普通高等院校'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='普通高等院校'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','普通高等院校'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='普通高等院校'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`
 	</select>
 	<select id="findcareerstatisticsMemberByMid" resultType="HashMap">
 	SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '职业学校（含高职、中职）'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','职业学校（含高职、中职）'AS'组织机构' FROM tm_team a
WHERE a.orgtype='职业学校（含高职、中职）' AND a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','职业学校（含高职、中职）'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='职业学校（含高职、中职）'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'职业学校（含高职、中职）'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='职业学校（含高职、中职）'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','职业学校（含高职、中职）'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='职业学校（含高职、中职）'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','职业学校（含高职、中职）'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='职业学校（含高职、中职）'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`
 	</select>
 	<select id="findhighstatisticsMemberByMid" resultType="HashMap">
 	SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '高中'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','高中'AS'组织机构' FROM tm_team a
WHERE a.orgtype='高中' AND a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','高中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='高中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'高中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='高中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','高中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='高中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','高中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='高中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`
 	</select>
 	<select id="findjuniorstatisticsMemberByMid" resultType="HashMap">
 	SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '初中'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','初中'AS'组织机构' FROM tm_team a
WHERE a.orgtype='初中' AND a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','初中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='初中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'初中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='初中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','初中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='初中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','初中'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='初中'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`
 	</select>
 	<select id="findprimarystatisticsMemberByMid" resultType="HashMap">
 	SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '小学'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','小学'AS'组织机构' FROM tm_team a
WHERE a.orgtype='小学' AND a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','小学'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='小学'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'小学'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='小学'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','小学'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='小学'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','小学'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='小学'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`
 	
 	</select>
 	<select id="findkindergartenstatisticsMemberByMid" resultType="HashMap">
 	SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '幼儿园'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','幼儿园'AS'组织机构' FROM tm_team a
WHERE a.orgtype='幼儿园' AND a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','幼儿园'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='幼儿园'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'幼儿园'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='幼儿园'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','幼儿园'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='幼儿园'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','幼儿园'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='幼儿园'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`
 	</select>
 	<select id="findotherstatisticsMemberByMid" resultType="HashMap">
 	SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '其他'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','其他'AS'组织机构' FROM tm_team a
WHERE a.orgtype='其他' AND a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','其他'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='其他'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'其他'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='其他'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','其他'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid} AND c.orgtype='其他'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','其他'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid} AND c.orgtype='其他'
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`
 	</select>
 	<select id="findtotalstatisticsMemberByMid" resultType="HashMap">
 	SELECT a.`组织机构`,b.teamnum,c.`指导教师男`,d.`指导教师女`,(c.`指导教师男`+d.`指导教师女`)AS'指导教师合计',e.`参赛队员男`,f.`参赛队员女`,(e.`参赛队员男`+f.`参赛队员女`)as'参赛队员合计' 
FROM (SELECT '合计'AS'组织机构') a
LEFT JOIN(
SELECT COUNT(DISTINCT a.tid)AS'teamnum','合计'AS'组织机构' FROM tm_team a
WHERE  a.mid=#{mid} AND a.delflg='00' AND a.tstatus='00'
) b ON b.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师男','合计'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='01' AND a.mid=#{mid} 
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) c ON c.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'指导教师女' ,'合计'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='01' AND b.sex='02' AND a.mid=#{mid}
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00' 
) d ON d.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员男','合计'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='01' AND a.mid=#{mid}
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) e ON e.`组织机构`=a.`组织机构`
LEFT JOIN(
SELECT COUNT(DISTINCT b.tmid)AS'参赛队员女','合计'AS'组织机构' FROM tm_member b
LEFT JOIN re_raceteammember a ON a.tmid=b.tmid
LEFT JOIN tm_team c ON c.tid=a.tid
WHERE b.roleflg='02' AND b.sex='02' AND a.mid=#{mid}
AND c.delflg='00' AND c.tstatus='00' AND b.delflg='00' AND b.tmstatus='00'
) f ON f.`组织机构`=a.`组织机构`	
 	</select>
 	<select id="findCountByMemberTcode" resultType="java.lang.Integer">
 	SELECT COUNT(a.tmid) FROM tm_member a WHERE a.tmcode=#{0}
 	</select>
 	<select id="findAllMemberByTid" resultType="String">
	SELECT GROUP_CONCAT(a.tmname ORDER BY a.serialnum) FROM(
	SELECT a.serialnum,b.tmname FROM re_raceteammember a 
	LEFT JOIN tm_member b ON b.tmid=a.tmid
	WHERE a.tid=#{0} AND a.rid=#{1} AND b.delflg='00' AND b.tmstatus='00' AND b.roleflg='02'
	ORDER BY a.serialnum
	) a
 	</select>
 	<select id="findAllTeacherByTid" resultType="String">
 	SELECT GROUP_CONCAT(a.tmname ORDER BY a.serialnum) FROM(
	SELECT a.serialnum,b.tmname FROM re_raceteammember a 
	LEFT JOIN tm_member b ON b.tmid=a.tmid
	WHERE a.tid=#{0} AND a.rid=#{1} AND b.delflg='00' AND b.tmstatus='00' AND b.roleflg='01'
	ORDER BY a.serialnum
	) a
 	</select>
 	<select id="findTeacherEmail" resultType="String">
 	SELECT b.email FROM re_raceteammember a
	LEFT JOIN tm_member b ON a.tmid=b.tmid
	WHERE a.tid=#{0} AND b.delflg='00' AND b.tmstatus='00' AND b.roleflg='02'AND a.rid=#{1}
	ORDER BY a.serialnum
	LIMIT 0,1
 	</select>
 	<select id="findMemberByTid" resultType="HashMap">
 	SELECT b.tmid,b.tmcode,b.tmname,b.roleflg,a.entryno  FROM re_raceteammember a 
	LEFT JOIN tm_member b ON a.tmid=b.tmid 
	WHERE a.tid=#{0} AND a.rid=#{1} AND b.delflg='00' AND b.tmstatus='00'
 	</select>
 	<select id="findMemberNumByDid" resultType="Integer">
 	select count(*) from tm_member where did=#{2} and didtype=#{1} and mid!=#{0}
 	</select>
 	
 	<select id="findAllMemberBage" resultType="HashMap">
 	SELECT * FROM (
		SELECT 
		b.tmid,b.tmname,b.picurl,b.roleflg,b.diningtype		
		,GROUP_CONCAT(c.tid) AS tid,GROUP_CONCAT(c.tcode) AS tcode,GROUP_CONCAT(DISTINCT c.tname) AS tname
		,GROUP_CONCAT(DISTINCT c.school) AS school,GROUP_CONCAT( DISTINCT c.region) AS region
		,GROUP_CONCAT( DISTINCT e.uname order by convert(e.uname using gbk) asc) AS uname,GROUP_CONCAT(DISTINCT e.email) AS uemail	
		,GROUP_CONCAT(d.rname) AS rname		
		
		FROM re_raceteammember a
		LEFT JOIN tm_member b ON b.tmid = a.tmid
		LEFT JOIN tm_team c ON c.tid = a.tid
		LEFT JOIN ma_race d ON d.rid = a.rid
		LEFT JOIN os_user e ON e.uid = a.signuid
		LEFT JOIN sys_folk g ON g.folkid = b.folk
		LEFT JOIN (
			SELECT a.tid,GROUP_CONCAT(b.tmname) AS tchname  FROM (
				SELECT DISTINCT a.tid,a.tmid FROM re_raceteammember a
				WHERE a.mid=#{0}
			) a 
			LEFT JOIN tm_member b ON b.tmid = a.tmid 
			WHERE b.roleflg='01'
			GROUP BY a.tid
		) f ON f.tid = c.tid
		WHERE a.mid=#{0}	
		GROUP BY a.tmid
		) a
		WHERE 1=1
 ORDER BY a.region,a.school,convert(a.uname using gbk) asc,a.tid,a.tmid
 	</select>
</mapper>