.raceInfo{
	padding:12px 10px;
	background:#fff;
}

.raceInfo .headtitle{
	padding-left:30px;
	background:url(../images/bisai.png) no-repeat;
	background-position-y: 2px
}

.raceName{
	padding:3px 30px;
}
.teamInfo{
	margin-top:18px;
	padding:12px 10px;
	background:#fff;
}
.headtitle{
	font-size:16px;
	margin:0;
	margin-bottom:20px;
}
.teamInfo .headtitle{
	padding-left:30px;
	background:url(../images/duiwu.png) no-repeat;
	background-position-y: 2px
}
.inputwrap{padding-left:30px}
.inputwrap>li{
	float:left;
	width:33.33%;
	margin-bottom:10px;
	position:relative;
}
.itemname{
	display:inline-block;
	width:70px;
	text-align:right;
	margin-right:5px;
}
.iteminput{
	width:250px;
	height:32px;
	padding-left:10px;
	border:1px solid #ccc;
}
.selinput{
	background:url(../images/down.png) no-repeat 218px;
}
#tdepartname{
	margin-right:0
}
#orgtype+.emulate,#region+.emulate{
	width:250px;
	height:90px;
	overflow-y:auto;
	left:79px;
	top:32px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#orgtype+.emulate li,#region+.emulate li{
	border:0;
	border-bottom:1px solid #ccc;
	width:100%
}
.saveteam,.saveteam:hover{
	display:block;
	width:120px;
	height:28px;
	line-height:28px;
	border:1px solid #e21230;
	color:#e21230;
	text-align:center;
	cursor:pointer;
	margin:0 auto;
	margin-top:14px;
	border-radius:4px;
	text-decoration:none;
	margin-bottom:20px
}
.stuList,.teaList{
	margin-top:18px;
	background:#fff;
	padding:10px;
}
.teaList .headtitle{
	margin-bottom:5px;
	padding-left:30px;
	background:url(../images/teacher.png) no-repeat;
	height: 20px;
    line-height: 24px;
}
.addbtn,.addbtn:hover{
	display:block;
	width:90px;
	height:26px;
	line-height:26px;
	padding-left:30px;
	background:url(../images/tianjia.png) no-repeat;
	margin:0 auto;
	margin-top:10px;
	color:#666;
	text-decoration:none;
	cursor:pointer;
}
.editbtn,.delbtn{
	display:inline-block;
	width:26px;
	height:26px;
	background:url(../images/shanchu.png) no-repeat;
}
.editbtn{
	background:url(../images/change.png) no-repeat;
	margin-right:12px;
}
.headicon{
	width:40px;
	height:40px;
	border-radius:50%;
}
.stuList .headtitle{
	margin-bottom:5px;
	padding-left:30px;
	background:url(../images/duiyuan.png) no-repeat;
	height:20px;
	line-height:24px;
}
.contentwrap table{
	table-layout:fixed;
	word-break:break-all;
}
.contentwrap table thead td{
	font-weight:normal;
	height:40px;
}
.contentwrap table tbody td{
	font-size:12px;
	height:60px;
}
.contentwrap table tr{
	border-bottom:1px solid #f2f2f2;
}
/*�޸�ָ����ʦ��Ϣ*/
#shade{
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.44);
}
#changeteainfo{
    position:fixed;
    z-index:3;
    top:50%;
    left:50%;
	width: 839px;
	height: 338px;
	margin-left:-320px;
	margin-top:-170px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	font-size: 0px;
}
.guanbi{
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}
#form h1{
	font-size:18px;
	color: #333;
	text-align: center;
	font-weight: bold;
	margin: 0;
}
.changeinfo{margin-top: 20px;}
.changeinfo div{
	float: left;
}
.changeinfo .perinfodiv{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 30px;
	position:relative;
}
.changeinfo span{
	font-size: 14px;
	color: #333;
	vertical-align: middle;
	margin-right: 10px;
	display: inline-block;
	text-align: right;
}
.div-l{position: relative;width:248px;}
.div-l span{width: 56px;}
.div-c{margin-left: 30px;width:234px;}
.div-c span{width: 42px;}
.changeinfo input[type=text]{
	width: 182px;
	height: 30px;
	border: 1px solid #ccc;
	padding-left:10px;
}
.changeinfo input[type=radio]{
	margin-right: 5px;
}
#female{margin-left: 20px}


.memsave{
	margin-top: 10px;
	text-align: center;
}
#savebtn,#savebtn:hover{
	display: inline-block;
	width: 116px;
	height: 30px;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	background: red;
	text-decoration: none;
	line-height: 30px;
	cursor: pointer;
}
#didtype, #diningtype,#folk{
	background: url("../images/xiala.png") no-repeat 162px 10px;
	cursor: pointer;
}
#birthday{
	background: url("../images/rili.png") no-repeat 160px 7px;
}
.div-r{margin-left: 20px;}
.div-r span{
	font-size:14px;
	margin-right: 10px;
	vertical-align: top;
}
.div-r img{
	width: 86px;
	height: 130px;
}
#imgformat{
	display: block;
	font-size: 12px;
	color: #999;
	margin: 5px 0 12px 63px;
	text-align:left;
}
/*�޸�ָ����ʦ��Ϣ����*/
#folk+.emulate{
	height:100px;
	overflow-x:hidden;
	border:1px solid #ccc;
	border-top:0;
}
#folk+.emulate li{
	border:0;
	border-bottom:1px solid #ccc;
	width:163px;
}
#folk+.emulate li:last-child{
	border-bottom:0;
}
.emulate{
	display:none;
	background:#fff;
	position:absolute;
	left:66px;
	top:30px;
	z-index:1;
}
.emulate li{
	width:182px;
	height:30px;
	border:1px solid #ccc;
	line-height:30px;
	border-top:0;
	padding-left:10px;
	color:#999;
	cursor:pointer;
}
.emulate li:hover{
	color:#333;
}
#zhaopian{
	float:left;
	margin-left:27px;
}

.imgfile{
	position: absolute;
    left: 0;
    top: 0;
    width: 86px;
    height: 130px;
    outline: 0;
    opacity: 0;
}
#myform{
	margin-left:65px;
	position:relative;
}
.upBtn,.downBtn{
	display:inline-block;
	width:18px;
	height:18px;
	cursor:pointer;
}
.upBtn{
	background:url(../images/upbtn.png) no-repeat;
	margin-right:6px;
}
.downBtn{
	background:url(../images/downbtn.png) no-repeat;
}