.create,.create:hover{
	float:right;
	background:#e21230;
	color:#fff;
	line-height:30px;
	height:30px;
	width:100px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	border-radius:4px;
	margin:2px 0;
}
table{
	table-layout:fixed;
	word-break:break-all;
	width:100%;
	border:1px solid #ccc;
}
table thead tr{
	background:#ebebeb;
}
table thead td{
	font-weight:bold;
	height:40px;
}
td:first-child{
	padding-left:20px;
}
table tbody tr:nth-child(2n){
	background:#f5f5f5;
}
table tbody tr:nth-child(2n-1){
	background:#fff;
}
table tbody td{
	height:40px;
	font-size:12px;
	padding-right:10px;
}
.modify,.modify:hover,.delete,.delete:hover{
	color:#333;
	cursor:pointer;
}
.split{
	margin:0 10px;
}
.matchname,.matchname:hover{
	color:#333;
	cursor:pointer;
}
.changestatus{
	cursor:pointer;
}

.shade{
/* 	display:none; */
    position:fixed;
    z-index:2;
    top:0;
    left:200px;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.44);
}
.adminwrap{
	/* display:none; */
    position:fixed;
    z-index:3;
    width:380px;
    max-height:400px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-90px;
	transform: translateY(-50%);
}
.infoneck{
	overflow:hidden;
	margin-bottom:5px;
}

.neckleft{
	float:left;
	width:260px;
}
.racename{
	margin-left:70px;
	display:block;
}
.neckright{
	float:right;
	width: 80px;
    height: 25px;
    background: #e21230;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    cursor:pointer;
}
.adminwrap .tablewrap{
	max-height:250px;
	overflow:auto;
}

.adminList{
	/* display:none; */
    position:fixed;
    z-index:5;
    width:380px;
    max-height:400px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-90px;
	transform: translateY(-50%);
}
.adminList .tablewrap{
	max-height:250px;
	overflow:auto;
	margin-bottom:20px;
} 
.btnwrap{
	text-align:center;
}
.btnwrap span{
	display:inline-block;
	color:#fff;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	border-radius:4px;
	cursor:pointer;
}