.competitiondetail{
	padding:20px 62px;
	background:#fff;
}
.basicul{
	overflow:hidden;
}
.basicul li{
	float:left;
	width:33.33%;
	margin-bottom:10px;
}
/* .basicul li:last-child{
	width:100%;
} */
.basicname{
	display:inline-block;
	width:100px;
	text-align:right;
	font-size:14px;
}
.basicinput{
	width:246px;
	height:30px;
	font-size:14px;
	padding-left:4px;
	border:1px solid #ccc;
}


.selinput{
	background: url(../images/xiala.png) no-repeat;
	padding-right:15px;
	background-position: 224px 13px;
}

/*
.basicul li .emulate{
	left:147px;
	top:325px;
	width:244px;
	max-height:90px;
	overflow-y:auto;
}
*/

.basicul li .emulate li{
	width:100%;
	padding:0;
	padding-left:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-bottom: 0px;
}

.emulate{
	position:absolute;
	width:246px;
	background:#fff;
	display:none;
	left:565px;
	z-index:1;
}
.emulate li{
	height:30px;
	width:246px;
	border:1px solid #ccc;
	border-top:0;
	padding-left:4px;
	color:#666;
	background:#fff;
	cursor:pointer;
	line-height:30px;
}

.coordinate,.coordinate:hover{
	color:#14a5d5;
	cursor:pointer;
	font-size:14px;
}
textarea{
	resize:none;
	padding:8px 4px;
}
.infoitem{
	margin-bottom:15px;
}
.itemspan{
	float:left;
	width:100px;
	text-align:right;
}
.itemdiv{
	margin-left:70px;
}
.enclosureitem{
	margin-bottom:5px;
}
.editfile{
	color:#666;
	margin:0 10px;
	cursor:pointer;
	position:relative;
}
.editfile:hover{
	color:#e21230;
}
.addEnclosure,.addEnclosure:hover{
	padding-left:20px;
	background:url(../images/jia.png) no-repeat;
	color:#333;
	text-decoration:none;
	position:relative;
}
.btnwrap{
	text-align:center;
}
.cancel,.ensure,.ensure:hover{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	color:#fff;
	border-radius:4px;
	background:#e21230;
	border:1px solid transparent;
	cursor:pointer;
	text-decoration:none;
}
.cancel,.cancel:hover{
	color:#333;
	border:1px solid #ccc;
	background:#fff;
	margin-right:10px;
	cursor:pointer;
	text-decoration:none;
}
.dateinput{
	padding-right:15px;
	background:url(../images/rili.png) no-repeat;
	background-position:222px;
}
.laydate_body .laydate_box{
	width:246px !important;
}
#file1{
	position: absolute;
    top: 0;
    width: 48px;
    height: 16px;
    opacity: 0
}
.editform{
	display:inline-block;
}
.hidfile{
	position: absolute;
    top: 0;
    width: 28px;
    height: 16px;
    opacity: 0;
    left:0;
    z-index:4;
}
.delfile{
	position:relative;
	z-index:5;
}