.selinput{
	width:264px;
	height:30px;
	border:1px solid #ccc;
	border-radius:4px;
	background:url(../images/xiala2.png) no-repeat;
	background-position:244px;
	background-color:#fff;
	padding-left:4px;
	padding-right: 20px;
	outline:none;
}
.search{
	position:relative;
	margin-bottom:4px;
}
.emulate{
	position:absolute;
	width:264px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	display:none;
}
.emulate li{
	height:30px;
	border-bottom:1px solid #ccc;
	padding-left:4px;
	color:#666;
	background:#fff;
	cursor:pointer;
	line-height:30px;
}
.emulate li:hover{
	background:#e21230;
	color:#fff;
}
.create,.create:hover{
	float:right;
	background:#e21230;
	color:#fff;
	line-height:30px;
	height:30px;
	width:100px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	border-radius:4px;
	margin-left: 2px;
	margin-bottom:2px;
}
table{
	table-layout:fixed;
	word-break:break-all;
	width:100%;
	border:1px solid #ccc;
}
table thead tr{
	background:#ebebeb;
}
table thead td{
	font-weight:bold;
	height:40px;
}
td:first-child{
	padding-left:20px;
}
table tbody tr:nth-child(2n){
	background:#f5f5f5;
}
table tbody tr:nth-child(2n-1){
	background:#fff;
}
table tbody td{
	height:40px;
	padding-right:10px;
}
.modify,.modify:hover,.delete,.delete:hover{
	color:#333;
	cursor:pointer;
}
.split{
	margin:0 10px;
}
.comptname,.comptname:hover{
	color:#333;
	cursor:pointer;
}
#cover{
	display:none;
    position:fixed;
    z-index:2;
    top:0;
    left:200px;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.44);
}
.createWin{
	display:none;
    position:fixed;
    z-index:3;
    width:380px;
    height:180px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-90px;
	margin-top:-90px;
}

.choose,.choose:hover,.found,.found:hover{
	display:block;
	width:196px;
	height:36px;
	margin:0 auto;
	border:1px solid #606060;
	border-radius:4px;
	text-decoration:none;
	color:#333;
	line-height:36px;
	margin-bottom:10px;
	text-align:center;
	cursor:pointer;
}
.comptWin{
	display:none;
    position:fixed;
    z-index:3;
    width:380px;
    height:200px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-90px;
	margin-top:-100px;
}
.comptWin .wTitle{
	margin-bottom:10px;
}
.eventul{
	
}
.eventul>li{
	width:100%;
	height:26px;
	line-height:26px;
	border-bottom:1px solid #ccc;
	padding-left:12px;
	padding-right:15px;
	background:url(../images/xiala2.png) no-repeat 324px;
	white-space:nowrap;
	position:relative;
}
.comptul{
	display:none;
	position:absolute;
	top:26px;
	left:0;
	right:0;
	border:1px solid #ccc;
	border-top:0;
	height:70px;
	overflow:auto;
	z-index:2;
	background:#fff;
}
.comptul>li{
	height:26px;
	line-height:26px;
	padding-left:12px;
	padding-right:15px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.comptul>li .comptcheckbox{
	vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}
.import,.import:hover{
	display:block;
	width:120px;
	height:28px;
	line-height:28px;
	border:1px solid #e21230;
	color:#e21230;
	text-align:center;
	cursor:pointer;
	margin:0 auto;
	margin-top:14px;
	border-radius:4px;
	text-decoration:none;
}

.shade{
/* 	display:none; */
    position:fixed;
    z-index:2;
    top:0;
    left:200px;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.44);
}
.TCwrap{
	/* display:none; */
    position:fixed;
    z-index:3;
    width:380px;
    max-height:400px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-90px;
	transform: translateY(-50%);
}
.infoneck{
	overflow:hidden;
	margin-bottom:5px;
}

.neckleft{
	float:left;
	width:260px;
}
.racename{
	margin-left:70px;
	display:block;
}
.neckright{
	float:right;
	width: 60px;
    height: 25px;
    background: #e21230;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    cursor:pointer;
}
.TCwrap .tablewrap{
	max-height:250px;
	overflow:auto;
}

.TCList{
	/* display:none; */
    position:fixed;
    z-index:5;
    width:380px;
    max-height:400px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-90px;
	transform: translateY(-50%);
}
.TCList .tablewrap{
	max-height:250px;
	overflow:auto;
	margin-bottom:20px;
} 
.btnwrap{
	text-align:center;
}
.btnwrap span{
	display:inline-block;
	color:#fff;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	border-radius:4px;
	cursor:pointer;
}