.searchbox{
	background:#fff;
}
.searchtitle{
	font-size:14px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	padding-left:10px;
	margin:0;
	border-bottom:1px solid #f2f2f2;
}
.searchul{
	
}
.searchul li{
	float:left;
	width:33.33%;
	padding:9px 10px;
	border-bottom:1px solid #f2f2f2;
	position:relative;
}
.searchul li .emulate{
	left:84px;
	top:41px;
	width:242px;
	max-height:90px;
	overflow-y:auto;
}
.searchul li .emulate li{
	width:100%;
	padding:0;
	padding-left:10px;
	overflow:hidden;
	text-overflow:ellipsis
}
.infoname{
	display:inline-block;
	width:70px;
	text-align:right;
}
.searchinput{
	width:242px;
	height:32px;
	border:1px solid #ccc;
	border-radius:4px;
	padding-left:10px;
}
.selinput{
	padding-right:15px;
	background:url(../images/xiala.png) no-repeat;
	background-position:224px 13px;
}
.dateinput{
	padding-right:15px;
	background:url(../images/rili.png) no-repeat;
	background-position:222px;
}
.btnwrap{
	text-align:center;
	padding:10px;
}
.search,.search:hover{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	border-radius:4px;
	background:#e21230;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.clear,.clear:hover{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	border-radius:4px;
	background:#ccc;
	color:#fff;
	margin-right:10px;
	text-decoration:none;
	cursor:pointer;
}

.search{
	position:relative;
	margin-bottom:4px;
	height:30px;
}
.listbox{
	background:#fff;
	margin-top:10px;
}
.tablehead{
	height:30px;
	padding-right:20px;
	border-bottom:1px solid #f2f2f2;
}
.current{
	padding-left:24px;
	background:url(../images/current.png) no-repeat;
	background-position:4px;
	color:#666;
	font-size:12px;
	float:left;
	margin-top:8px;
	margin-bottom:0;
}
.emulate{
	position:absolute;
	width:180px;
	background:#fff;
	display:none;
	left:70px;
	z-index:1;
}
.emulate li{
	height:30px;
	border:1px solid #ccc;
	border-top:0;
	padding-left:4px;
	color:#666;
	background:#fff;
	cursor:pointer;
	line-height:30px;
}
.emulate li:hover{
	color:#333;
}
.create,.create:hover{
	float:right;
	background:#e21230;
	color:#fff;
	line-height:30px;
	height:30px;
	width:100px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	border-radius:4px;
}
table{
	table-layout:fixed;
	word-break:break-all;
	width:100%;
	border:1px solid #ccc;
}
table thead tr{
	background:#ebebeb;
}
table thead td{
	font-weight:bold;
	height:40px;
}
td:first-child{
	padding-left:20px;
}
table tbody tr:nth-child(2n){
	background:#f5f5f5;
}
table tbody tr:nth-child(2n-1){
	background:#fff;
}
table tbody td{
	height:40px;
	padding-right:10px;
}

.modify,.modify:hover,.delete,.delete:hover{
	color:#333;
	cursor:pointer;
}
.delete2{
	color:#999;
}
.split{
	margin:0 10px;
}
.shade{
    position:fixed;
    z-index:2;
    top:0;
    left:200px;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.44);
}

.vouchermoney{
	position:fixed;
    z-index:4;
    width:300px;
    height:180px;
	background: #fff;
	border-radius: 4px;
	top:50%;
	left:50%;
	margin-left:-50px;
	padding:20px 30px;
	transform: translateY(-50%);
}
.vouchermoney input{
	width: 170px;
	height: 30px;
	border: 1px solid #ccc;
	padding-left:10px;
}
.btnwrap{
	text-align:center;
	margin-top:20px;
}
.btnwrap span{
	display:inline-block;
	color:#fff;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	border-radius:4px;
	cursor:pointer;
}
.viewfile,.viewfile:hover{
	display:block;
	color:#009bdb;
	cursor:pointer;
}
.photowall{
	position:fixed;
    z-index:4;
    width:800px;
    height:580px;
	background: #fff;
	border-radius: 4px;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-290px;
	padding:20px 30px;
	overflow:auto;
}
.photoul li{
	float:left;
	margin-right:20px;
	width:112px;
	height:168px;
	text-align:center;
	margin-bottom:10px;
}
.photoul li img{
	width:100%;
	height:100%;
}
.contactway{
	margin-bottom:0
}