.cover1{
    position:fixed;
    z-index:4;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.44);
}
.cover2{
    position:fixed;
    z-index:4;
    top:0;
    left:200px;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.44);
}
.msgWin1{
    position:fixed;
    z-index:5;
    width:340px;
    height:200px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-170px;
	margin-top:-100px;
	text-align:center;
}
.msgWin2{
    position:fixed;
    z-index:5;
    width:340px;
    height:200px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-70px;
	margin-top:-100px;
	text-align:center;
}
.wTitle{
	font-size:18px;
	color: #333;
	text-align: center;
	font-weight: bold;
	margin: 0;
	margin-bottom:20px;
}
.known,.known:hover{
	display:block;
	width:140px;
	height:30px;
	line-height:30px;
	border:1px solid #ccc;
	color:#333;
	text-align:center;
	cursor:pointer;
	margin:0 auto;
	margin-top:14px;
	border-radius:4px;
	text-decoration:none;
}
.closeWin{
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}
.face{
	margin-bottom:14px;
	margin-left:-12px;
}
.question{
	text-align:center;
	margin-bottom:20px;
}
.confirmBtn{
	text-align:center;
	font-size:0;
}
.conBtn1,.conBtn1:hover{
	display:inline-block;
	color:#fff;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	background:#e21230;
	text-decoration:none;
	margin-right:20px;
	border-radius:4px;
	cursor:pointer;
}
.conBtn2,.conBtn2:hover{
	display:inline-block;
	color:#333;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	background:#fff;
	text-decoration:none;
	border-radius:4px;
	border:1px solid #ccc;
	cursor:pointer;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;  //使用足够大的纯色内阴影覆盖黄色背景
}

body{
	min-height:100%;
	position:relative;
}
.support{
	font-size:12px;
	color:#999;
	position:absolute;
	bottom:10px;
	margin-bottom:0;
	left:50%;
	margin-left:-114px
	
}
.contentbox{
	margin-bottom:40px !important;
}

#didinfo{
	position:fixed;
    z-index:5;
    width:340px;
    height:200px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	top:50%;
	left:50%;
	margin-left:-170px;
	margin-top:-100px;
}
#didinfo h1{
	font-size:18px;
	color: #333;
	text-align: center;
	font-weight: bold;
	margin: 0;
	margin-bottom:20px;
}
.diditem{
	position:relative;
	margin-bottom:10px;
}
.diditem span{
	display:inline-block;
	width:70px;
	text-align:right;
}
#didinfo input[type=text]{
	width: 182px;
	height: 30px;
	border: 1px solid #ccc;
	padding-left:10px;
}

#IDtype{
	background: url("../images/xiala.png") no-repeat 162px 10px;
	cursor: pointer;
}
#didinfo .emulate{
	left:70px;
}
.nextstep,.nextstep:hover{
	display:block;
	color:#fff;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	background:#e21230;
	text-decoration:none;
	margin:0 auto;
	border-radius:4px;
	cursor:pointer;
	text-align:center;
}
#myRace tr{
	height:60px;
}
#myRace{
	position:fixed;
    z-index:3;
    top:50%;
    left:50%;
	width: 420px;
	min-height: 338px;
	margin-left:-110px;
	margin-top:-170px;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
}
#myRace h1{
	font-size:18px;
	color: #333;
	text-align: center;
	font-weight: bold;
	margin: 0;
}
#popup{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    z-index:6
}
#popup .bg{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
#popup img{
    max-width: 100%;
    max-height: 100%;
}
.emulate li{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.navcenter{
	float:right;
	line-height:88px;
	font-size:18px;
	color:#fff;
	margin-right:90px;
}
.bmsnavcenter{
	color:#333;
	line-height:80px;
}
.changebtn{
	display:inline-block;
	color:#fff;
	font-size:14px;
	width:50px;
	height:26px;
	line-height:26px;
	background:#e21230;
	border-radius:4px;
	cursor:pointer;
	text-align:center;
	margin-left:15px;
}
.bmschangebtn{
	width:70px;
}
.navcenter .currentmatch{
	width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}