body{
	background:#f2f2f2;
}
input{padding:0px;}
.tabbox{
	background:#fff;
}
.tabul{
	width:1200px;
	margin:0 auto;
	overflow:hidden
}
.tabul li{
	float:left;
	width:140px;
	height:58px;
	text-align:center;
	font-size:18px;
	line-height:58px;
}
.tabul li.active{
	border-bottom:4px solid #e21230;
}
.contentbox{
	width:1200px;
	margin:0 auto;
}
.location{
	color:#999;
	margin-top:10px;
	margin-bottom:4px;
}
.location img{
	vertical-align: sub;
	margin-right: 5px;
}
.photowall{
	background:#fff;
	padding:20px 30px;
}
.addbtn,.addbtn:hover{
	display:inline-block;
	width:90px;
	height:26px;
	line-height:26px;
	padding-left:30px;
	background:url(../images/tianjia.png) no-repeat;
	margin-top:10px;
	color:#666;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
#file{
	position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 26px;
    opacity: 0
}
.uploadbtn,.uploadbtn:hover{
	width: 100px;
	height: 30px;
	background: #e21230;
	color:#fff;
	font-size: 14px;
	border-radius:4px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
    display: block;
    margin-top:30px;
    cursor:pointer;
}
.photoul li{
	float:left;
	margin-right:20px;
	width:112px;
	height:168px;
	text-align:center;
}
.photoul li img{
	width:100%;
	height:100%;
	margin-bottom:10px;
}
.fork,.fork:hover{
	color:#333;
	cursor:pointer;
}
#myform{
	margin-top:30px;
}