body{
	background:url(../images/back.png) no-repeat;
	backgorund-color:#032459;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
.heading{
	width:1000px;
	margin:0 auto;
	font-size:20px;
	color:#fff;
	margin-top:40px;
	margin-bottom:30px;
}
.heading span{
	vertical-align: text-top;
    display: inline-block;
    margin: 0 6px;
    margin-top: -1px;
}

/*注册第一步*/
.regbox{
	width:1000px;
	margin:0 auto;
	background:rgba(1,17,34,0.54);
	padding-top:17px;
	position:relative;
}
.regtitle{
	width:900px;
	margin:0 auto;
	border-bottom:1px solid #9c9c9c;
	
}
.regtitle li{
	float:left;
	width:33.33%;
	text-align:center;
	padding-bottom:17px;
	position:relative;
	color:#e5e5e5;
	font-size:16px;
}
.regtitle li.active{
	color:#fff;
}
.regtitle li.active i{
	position:absolute;
	display:block;
	width:100%;
	height:3px;
	background:#e21230;
	bottom:-3px
}
.regtitle li b{
	font-weight:normal;
	font-size:16px;
	display:inline-block;
	width:26px;
	height:26px;
	border-radius:13px;
	background:#999;
	color:#fff;
	text-align:center;
	line-height:26px;
	margin-right:14px;
}
.regtitle li.active b{
	background:#e21230
}
#entry,#entry:hover{
	color:#e21230;
}
.mailbox{
	width:324px;
	margin:0 auto;
	margin-top:120px;
	padding-bottom:120px;
}
/*注册第二步*/
.codebox{
	width:324px;
	margin:0 auto;
	padding:40px 0;
}
.mailbox input{
	width:324px;
	height:44px;
	border:1px solid #878787;
	padding-left:52px;
	margin-bottom:20px;
	background:url(../images/email.png) no-repeat;
	background-color:#fff;
}
.Abtn,.Abtn:hover{
	display:block;
	width:324px;
	height:44px;
	line-height:44px;
	color:#fff;
	background:#e21230;
	text-align:center;
	font-size:16px;
	text-decoration:none;
	cursor:pointer;
	margin-bottom:10px;
}
.codebox .Abtn{
	margin-left:80px;
}
.mailbox span{
	display:block;
	text-align:center;
	color:#e5e5e5;
}
.codebox{
	width:404px;
}
.codeitem{
	font-size:0;
	margin-bottom:16px;
}
.codeitem:nth-child(3),.codeitem:nth-child(4){
	margin-bottom:10px;
}
.codeitem>span{
	font-size:14px;
	display:inline-block;
	width:56px;
	margin-right:24px;
	text-align:right;
	color:#e5e5e5;
}
.codeitem input{
	width:324px;
	height:44px;
	border:1px solid #878787;
	padding-left:18px;
	font-size:14px;
}
.codeitem p{
	font-size:12px;
	color:#e5e5e5;
	margin:0;
	margin-left:80px;
}
.codebox .haveacount{
	margin-left:186px;
	color:#e5e5e5;
}

/*注册第三步*/
.infobox{
	overflow:hidden;
	
}
.uploadwrap{
	float:left;
	margin-top:70px;
	/* margin-left:200px; */
	margin-left:50px;
	text-align:center;
	width:112px;
}
.info-r{
	/* float:right; */
	margin:20px 0;
	/* margin-right:200px; */
	margin-left:213px;
}
#imgwrap{
	height:168px;
	border:1px solid #888;
	margin-bottom:10px;
}
#imgwrap img{
	width:100%;
	height:100%;
}
#upload,#upload:hover{
	text-decoration:none;
	font-size:18px;
	color:#e5e5e5;
	cursor:pointer;
}
.infoitem{
	margin-bottom:16px;
	font-size:0;
	position:relative;
	float:left;
	width:50%;
}
.infoitem span{
	font-size:14px;
	margin-right:24px;
	color:#e5e5e5;
	width:84px;
	text-align:right;
	display:inline-block;
}
.infoitem input{
	/* width:324px; */
	width:236px;
	height:44px;
	border:1px solid #878787;
	padding-left:18px;
	font-size:14px;
}
#gender{
	background:url(../images/down.png) no-repeat;
	background-position:204px;
	cursor:pointer;
	background-color:#fff;
}
.infobox .Abtn{
	/* margin-left:52px; */
	margin-left:110px;
	clear:both;
}
.infobox .haveacount{
	/* margin-left:158px; */
	margin-left:216px;
	color:#e5e5e5;
}

.emulate{
	position:absolute;
	left:108px;
	z-index:1;
	display:none;
}
.emulate li{
	width:236px;
	height:44px;
	border:1px solid #878787;
	border-top:0;
	background:#e0e0e0;
	font-size:14px;
	line-height:44px;
	padding-left:40px;
	cursor:pointer;
}

#cover{
    display:none;
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.44);
}
#selImg{
    display:none;
    position:fixed;
    z-index:3;
    top:50%;
    left:50%;
    border:1px solid #127386;
    width:530px;
    height:440px;
    margin-left:-265px;
    margin-top:-220px;
    background:#fff;
    padding:0 30px;
}
#chooseImg,#chooseImg:hover{
	text-decoration:none;
	display:block;
	width:116px;
	height:36px;
	color:#fff;
	line-height:36px;
	background-color:#be0000;
	cursor:pointer;
	margin-top:24px;
	margin-bottom:10px;
	text-align:center;
}
#file{
	position:absolute;
	top:24px;
	left:30px;
	width:116px;
	height:36px;
	opacity:0
}
#selImg p{
	margin:0
}
.photobox{
	width:470px;
	height:294px;
	margin:0 auto;
	border-bottom:1px solid #eaeaea;
	text-align:center;
}
.photobox img{
	width:156px;
	height:236px;
	margin-top:29px;
}
.btnwrap{
	margin-top:14px;
}
.btnwrap a,.btnwrap a:hover{
	text-decoration:none;
	display:inline-block;
	width:80px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#fff;
	border-radius:2px;
	cursor:pointer;
}
#cancel{background:#999;margin-left:120px;	margin-right:70px;}
#ensure{background:#c00000}

#leftrobot{
	position:absolute;
	left:100px;
	top:160px;
}
#rightrobot{
	position:absolute;
	right:100px;
	top:160px;
}