body{
	background:#f2f2f2;
}
input{padding:0px;}
.tabbox{
	background:#fff;
}
.tabul{
	width:1200px;
	margin:0 auto;
	overflow:hidden
}
.tabul li{
	float:left;
	width:140px;
	height:58px;
	text-align:center;
	font-size:18px;
	line-height:58px;
}
.tabul li.active{
	border-bottom:4px solid #e21230;
}
.contentbox{
	width:1200px;
	margin:0 auto;
	
}
.location{
	color:#999;
	margin-top:10px;
	margin-bottom:4px;
}

.matchEnclosure,.matchEnclosure:hover{
	color:#01a4d3;
	display:block;
	margin-bottom:5px;
}
.filebox{
	padding:20px 30px;
	background:#fff;
}